<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cal.css">
    <script src="cal.js"></script>
</head>
<body>
    <div class="main_body">
        <div class="cal_body">
            <div class="display_body">
                <input type="text" id="display_screen">

            </div>
            <div class="row">
                <button onclick="button_click(7)" class="button_class">7</button>
                <button onclick="button_click(8)" class="button_class">8</button>
                <button onclick="button_click(9)" class="button_class">9</button>
                <button onclick="button_click('+')" class="button_class">+</button>


            </div>
            <div class="row">
                <button onclick="button_click(4)" class="button_class">4</button>
                <button onclick="button_click(5)" class="button_class">5</button>
                <button onclick="button_click(6)" class="button_class">6</button>
                <button onclick="button_click('-')" class="button_class">-</button>


            </div>
            <div class="row">
                <button onclick="button_click(1)" class="button_class">1</button>
                <button onclick="button_click(2)" class="button_class">2</button>
                <button onclick="button_click(3)" class="button_class">3</button>
                <button onclick="button_click('*')" class="button_class">X</button>


            </div>
            <div class="row">
                <button onclick="clear_button_click()" class="button_class">clear</button>
                <button onclick="button_click(0)" class="button_class">0</button>
                <button onclick="button_click('/')" class="button_class">/</button>
                <button onclick="equal_button_click()" class="button_class">=</button>


            </div>

        </div>
    </div>
</body>
</html>